body {
  background-color: #eeeff4;
  margin: 1rem;
}

.cardContainer {
  background-color: white;
  box-shadow: 1px 1px grey;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
.matchListCardContainer {
  background-color: white;
  box-shadow: 1px 1px grey;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.scheduleType {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-item-link {
  text-decoration: none;
}

.nav-item {
  padding: 0.5rem;
  text-decoration: none;
  border: 1px solid grey;
}

.eventTypeTabContainer {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.matchType {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.activeItem {
  color: red;
  border-bottom: 1px solid red;
}

.activeEventType {
  color: red;
}

.fn_sz {
  font-size: 12px;
  padding: 0.25rem;
}

.seriesName {
  font-size: 14px;
  padding: 0.25rem;
  background-color: #f1f2f4;
}

.tossUpdate {
  width: 50%;
  margin: auto;
  border-radius: 1rem;
  background-color: rgb(251, 233, 219);
}

.pointer {
  cursor: pointer;
}
